ol,
ul {
  list-style-type: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 1128px;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}

.gallery img {
  width: 340px;
  height: 200px;
  cursor: zoom-in;
}
